# Basic Libraries
pandas==1.5.3
numpy==1.24.2
matplotlib==3.7.0
seaborn==0.12.2
scikit-learn==1.2.0
scipy==1.10.0

# Database & ORM
psycopg2-binary==2.9.5
sqlalchemy==2.0.0
flask_sqlalchemy==3.0.0
Flask-Migrate==4.0.4
databases==0.8.0

# Telegram Scraping
telethon==1.30.3

# Machine Learning and Deep Learning
xgboost==1.7.6
tensorflow==2.12.0
imblearn==0.11.0
#imblearn

# Model Explainability
shap==0.41.0
lime==0.2.0.1

# Experiment Tracking
mlflow==2.3.0

# Web Development & APIs
flask==2.3.0
click==8.1.3
gunicorn==20.1.0

# Testing & Dashboards
pytest==7.2.1
dash==2.10.0

# Environment Variables
python-dotenv==1.0.0
